#main{
    background-color:#EFEBEB;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  
  #title{
    text-align:center;
    font-size:50px;
    color: navy;
  }
  
  #title1{
    text-align:center;
    font-size:18px;
    color: rgb(148, 7, 78);
  }

  figure{
    padding:10px;
  }

  #image{
    display: block;
    margin-left:auto;
    margin-right: auto;
  }
  #img-caption{
    text-align: center;
    padding:10px;
  }

  #tribute-info{
    margin-right: 40px;
    margin-left: 40px;;
  }

  @media  (min-height:100px){
    #image {
      max-width:100%;
      height:auto;
    }
    #img-caption{
      max-width: 100%;
      height: auto;
    }
    #quote{
      border: goldenrod;
      border-radius: 2%;
      border-style: solid;
      padding: 1% 1% 1% 1%;
    }
  }